
* {
  margin :0;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 3.3fr 0.2fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "nav main main main"
    "footer footer footer footer";
  height: 100vh;
  width: 100%;
}

.header {
  grid-area: header;
  background: #f5f5f5;
}

.page-title {
  grid-area: page-title;
  background: #cdde1c;
  color: white;
  padding: 10px;
  font: {
    size: 40px
  }
}

.nav {
  grid-area: nav;
  background: #393e06;
}


.menu-container{
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
}


.main {
  grid-area: main;
  background: #e7e7e7;
}

.footer {
  grid-area: footer;
  background: #f2f6c6;
  padding: 10px;
  color: dimgrey;
  font: {
    size: 20px;
  }
}


.toolbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}



.menu-title {
  text-align: center;
  padding: 10px;
  color: whitesmoke;
  text-transform: uppercase;
  font: {
    size: 20px;
    weight: bold;
  }
}


.item-Nav{
  padding: 10px;
  background: #b7b7b7;
  border: 1px solid lightgrey;
  &:hover {
    background: #85a5f8;
  }
  color: #393e06;
  font: {
    size: 20px;
  }
}


ul {
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.list {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}


.card {
  border: 1px solid #c2c1c1;
  height: 160px;
  width: 200px;
  text-align: center;
  background: whitesmoke;
  border-radius: 5px;
}


.item{
  color: dimgrey;
}


img {
  margin-top: 10px;
  clip-path: circle(50% at 50% 50%);
}



@media all and (max-width: 768px) {
  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.3fr 3.9fr 0.3fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header"
    "page-title page-title page-title"
    "nav nav nav"
    "main main main"
    "footer footer footer";
  }

  .header { grid-area: header; }

  .page-title { grid-area: page-title; }

  .nav {
    grid-area: nav;
    //position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 0; // required as well.
    height: 70px;
    z-index: 1000;
    witdh:100%;
  }


  .footer { grid-area: footer; }

  .main { grid-area: main; }

  .list { margin-bottom: 10px;}

  .flex {
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    //No me hace caso en el centrado en vertical
    align-items: center;
  }

  .item-Nav {
    margin-top: 12px;
  }

  .toolbar {
    display: none;
  }

  .menu-title{
    display: none;
  }

  .list {
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 97%;
    border-radius: 0;
  }

  img {
    margin-left: 20px;
  }

  .member-name{
    margin-left: 20px;
    text-align: left;
  }

  .page-title {
    font: {
      size: 25px
    }
  }

  .footer {
    font: {
      size: 15px;
    }
  }
}



@media all and (max-width: 384px) {
  .flex {
    display: flex;
    flex-direction: column;
  }

  .nav {
    height: 250px;
  }
}
