
html {
  background: #b3f3f3;
}

.flex-container {
  background: #006a7b;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.flex-item {
  justify-content: center;
  padding: 17px;
  text-align: center;
  color: white;
  font-weight: bold;
  &:hover{
    background: #2f4858;
  }
}


a {
  text-decoration: none;
}


@media all and (max-width: 480px) {
  .flex-container {
    flex-direction: column;
  }
}
